body {
 	padding: 0;
 	margin: 0;
 	font-family: Tahoma, serif;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: auto;
}
.background {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url('../images/university.jpg');
	background-size: cover;
	background-position: center;
	filter: brightness(0.35); /* Приглушение фона */
	z-index: 1; /* Позиционирование фона */
}
.content {
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	max-width: 800px;
	width: 90%;
	position: relative;
	z-index: 2; /* Позиционирование контента */
        margin: 20px auto;
        min-height: 300px; /* Минимальная высота для контента */
}
h1 {
	text-align: center;
	font-size: 50px;
}
header a {
	text-align: right;
	margin-right: 5%;
}
body p {
	text-align: center;
	line-height: 150%;
}