<!DOCTYPE html> 
<html lang="ru"> 
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">

    <title>О специальности | Кафедра фундаментальной и прикладной математики ФаМИ ГрГУ</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/grsu-logo.png') }}" />
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/slider-pro.min.css') }}" /> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="background"></div>
<div class="content">

<div class="container">
	<div class="header">
		<div class="row">
			<div class="col-md-2">
			<div class="logo"  style="margin: 20px auto">
				<a href="{{url_for('home') }}"><img src="{{ url_for('static', filename='images/grsu-logo.png') }}"></a>
			</div>
			</div>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-7">
						<h3>
							Факультет математики и информатики<br><br>
							Кафедра фундаментальной и прикладной математики
						</h3>
					</div>
				<div class="col-md-4">
					<ul class="nav navbar-nav navbar-right">
						<!-- <li><a href="/login"><h5>Авторизация</h5></a></li> -->
					</ul>
				</div>
				</div>
			<div class="row">
				<div class="menu">
					<nav class="navbar" role="navigation"><!-- b -->
	<ul class="nav navbar-nav">
		<li><a href="/news">Новости</a></li>
		<li class="dropdown">
			<a href="#" data-toggle="dropdown" class="dropdown-toggle">О кафедре <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a href="/history">История</a></li>
				<li><a href="/teachers">Сотрудники</a></li>
				<li><a href="/branch">Филиал кафедры</a></li>
				<li><a href="/lab">Учебная лаборатория</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a href="#" data-toggle="dropdown" class="dropdown-toggle">Научная деятельность <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a href="/filesofsci">Направления научной деятельности</a></li>
				<li><a href="/aspiranture">Аспирантура</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a href="#" data-toggle="dropdown" class="dropdown-toggle">Учебная деятельность <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a href="/aboutspeciality">О специальности</a></li>
				<li><a href="/magistracy">Магистратура</a></li>
				<li><a href="/beststudents">Лучшие студенты</a></li>
				<li><a href="/schedule">Расписание</a></li>
			</ul>
		</li>
		<li><a href="/forenrollees">Абитуриенту</a></li>
	</ul> 
</nav> 
				</div>
			</div>
		</div>
	</div>
</div>

<div class="body" style="margin: 20px auto; max-width: 1000px">
				<div class="row">
					<table class="table table-bordered">
<tbody>
<tr>
<td colspan="33%" align="center"><strong>Специальность</strong><br />(форма получения образования, сроки обучения)</td>
<td colspan="33%" align="center"><strong>Специализации</strong></td>
<td colspan="33%" align="center"><strong>Квалификация</strong></td>
</tr>
<tr>
<td colspan="33%" align="center"><em> Прикладная математика<br />(научно-производственная деятельность)<br />(дневная - 4 года) </em></td>
<td colspan="33%" align="center"><em> Математическое моделирование, <br />Анализ данных и моделирование сложных систем </em></td>
<td colspan="33%" align="center">
<p><em> Математик-программист</em></p>
<p><em>(Прикладной математик. Программист)</em></p>
</td>
</tr>
<tr>
<td colspan="100%"><strong>Прикладная математика</strong> - область знаний, включающая в себя совокупность современных математических методов, средств математического моделирования и компьютерных технологий, ориентированных на непосредственное использование во всех сферах научной, производственной и хозяйственной деятельности.<br /><strong>Математик-программист</strong> - профессиональная квалификация специалиста в области прикладной математики с высшим профессиональным образованием.</td>
</tr>
<tr>
<td colspan="100%" align="center"><strong>Сфера профессиональной деятельности</strong></td>
</tr>
<tr>
<td colspan="100%">
<ul>
<li>разработка программного обеспечения вычислительных систем и информационных технологий;</li>
<li>сопровождение и эксплуатация программного обеспечения;</li>
<li>администрирование и конфигурирование компьютерных систем.</li>
</ul>
<p>Выпускники специальности работают в ИТ-компаниях, которые занимаются разработкой программных продуктов, а также программистами на предприятиях и в организациях, которым необходима разработка, сопровождение и эксплуатация программного обеспечения сетей и систем.</p>
</td>
</tr>
<tr>
<td colspan="100%" align="center"><strong>Основные изучаемые общепрофессиональные и специальные дисциплины</strong><br />(в скобках указаны основные изучаемые языки программирования/технологии/инструменты)</td>
</tr>
<tr>
<td colspan="50%">
<p><strong> В области математики </strong></p>
<ul>
<li>Геометрия и алгебра</li>
<li>Дискретная математика и математическая логика</li>
<li>Математический анализ</li>
<li>Вычислительные методы алгебры</li>
<li>Дифференциальные уравнения</li>
<li>Теория вероятностей и математическая статистика</li>
<li>Методы численного анализа</li>
<li>Функциональный анализ и интегральные уравнения</li>
<li>Уравнения математической физики</li>
<li>Численные методы математической физики</li>
<li>Теоретическая механика</li>
<li>Методы оптимизации</li>
<li>Исследование операций</li>
</ul>
<p><strong> В области математического моделирования </strong></p>
<ul>
<li>Математическое моделирование</li>
<li>Современные методы математического моделирования</li>
<li>Математические модели и методы оптимального планирования и управления</li>
<li>Эволюционные системы</li>
</ul>
<p><strong> В области анализа данных и моделирования сложных систем </strong></p>
<ul>
<li>Платформы для анализа и хранения больших данных</li>
<li>Математические пакеты прикладных программ</li>
<li>Применение теории массового обслуживания при моделировании сложных систем</li>
<li>Многомерный и прикладной статистический анализ данных</li>
<li>Машинное обучение и анализ данных</li>
<li>Анализ неструктурированных данных</li>
<li>Моделирование сложных систем</li>
</ul>
</td>
<td colspan="50%">
<p><strong> В области программирования </strong></p>
<ul>
<li>Основы алгоритмизации и программирования (С++)</li>
<li>Практика программирования (С++)</li>
<li>Прикладное программирование (С++)</li>
<li>Языки программирования (C#)</li>
<li>Технологии разработки платформенно-независимых приложений (Java)</li>
<li>Языки разметки документов (HTML, XML, JavaScript, CSS)</li>
<li>Операционные системы</li>
<li>Компьютерные сети</li>
<li>Технологии программирования</li>
<li>Современные технологии разработки web-приложений<br />(JavaScript, TypeScript, CoffeeScript, LESS, Node.Js, HTML5)</li>
<li>Компьютерная графика (С++, OpenCV, Processing.org)</li>
<li>Алгоритмы и структуры данных</li>
<li>Модели данных и системы управления базами данных</li>
<li>Модели и технологии оперативного анализа данных</li>
<li>Основы защиты информации</li>
<li>Инфраструктура и сервисы облачных вычислений</li>
</ul>
<p><strong> Дополнительные виды обучения </strong></p>
<ul>
<li>Военная подготовка (младшие командиры)</li>
<li>Военная подготовка (офицеры запаса)</li>
<li>Иностранный язык (английский язык, 3-и семестра)</li>
</ul>
</td>
</tr>
<tr>
<td colspan="100%" align="center"><strong>Профессиональные компетенции, которыми будет обладать выпускник</strong></td>
</tr>
<tr>
<td colspan="100%">
<ul>
<li>владеть современными методами математического моделирования систем и процессов;</li>
<li>разрабатывать, анализировать и оптимизировать алгоритмы решения естественнонаучных, производственных и социально-экономических задач;</li>
<li>эксплуатировать, сопровождать и разрабатывать программные компьютерные системы;</li>
<li>владеть методами программной инженерии при реализации программного обеспечения;</li>
<li>владеть компьютерными методами сбора, хранения и обработки информации;</li>
<li>администрировать и конфигурировать компьютерные системы и сети;</li>
<li>разрабатывать новые информационные технологии на основе математического моделирования и оптимизации.</li>
</ul>
</td>
</tr>
<tr>
<td colspan="100%" align="center"><strong> <em> Возможность продолжения образования в магистратуре и аспирантуре нашего университета и других ведущих научных центров Республики Беларусь, а также за рубежом </em> </strong></td>
</tr>
</tbody>
</table>
				</div>
			</div>

<style>
    div.footer {
      border-top: solid 3px #ccc;
    }
</style>

<div class="footer">
				<div class="row">
					<div class="col-md-8">
						<p>
							© 2024 <br />
							УО "Гродненский Государственный Университет им. Я. Купалы"<br />
							Факультет математики и информатики <br />
							Кафедра фундаментальной и прикладной математики <br />
						</p>
											</div>

					<div class="col-md-4 text-right">
						<p>
							Республика Беларусь
							<br />г. Гродно, 230023<br />
							ул. Ожешко, 22, к. 314<br />
							 +375 (152) 39-53-14 <br />
							 <a href="">kaf_teorfun@grsu.by</a> <br />	
						</p>
					</div>
				</div>
			</div>

		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.sliderPro.min.js') }}"></script>
		<script type="text/javascript">
			jQuery( document ).ready(function( $ ) {
				$( '#sliderPro' ).sliderPro({
					width: 1000,
					height: 450,
					arrows: true,
					buttons: false,
					waitForLayers: true,
					fade: true,
					touchSwipe: false
				});
			});
		</script>
</div>

</body>
</html>