<!DOCTYPE html> 
<meta charset="utf-8">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forlog.css') }}">
<body>
<div class="background"></div>
<div class="content">

<h1>Добавить новость</h1>
<form method="POST">
    <div>
        <label for="title">Заголовок:</label>
        <input type="text" id="title" name="title" required>
    </div>
    <div>
        <label for="data">Дата:</label>
        <input type="text" id="data" name="data" required>
    </div>
    <div>
        <label for="description">Описание:</label>
        <input type="text" id="description" name="description" required>
    </div>
    <button type="submit">Сохранить</button>
</form>

<ul><a href="{{ url_for('admin') }}">Назад</a></ul>
</div>
</body>

</html>