<!DOCTYPE html>
<html lang="ru">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forlog.css') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление расписания</title>
</head>
<body>
<div class="background"></div>
<div class="content">
    <h1>Добавление расписания</h1>
    <form method="POST">
        <label for="course">Курс:</label>
        <select name="course" id="course" required>
            {% for course in courses %}
                <option value="{{ course.id }}">{{ course.name }}</option>
            {% endfor %}
        </select>

        <label for="group">Группа:</label>
        <select name="group" id="group" required>
            {% for group in groups %}
                <option value="{{ group.id }}">{{ group.name }}</option>
            {% endfor %}
        </select>

        <label for="lecturer">Преподаватель:</label>
        <select name="lecturer" id="lecturer" required>
            {% for lecturer in lecturers %}
                <option value="{{ lecturer.id }}">{{ lecturer.full_name }}</option>
            {% endfor %}
        </select>

        <label for="week_start">Учебная неделя:</label>
        <input type="date" name="week_start" id="week_start" required>

        <label for="lesson_time">Время занятия:</label>
        <input type="time" name="lesson_time" id="lesson_time" required>

        <button type="submit">Добавить запись</button>
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

<ul><a href="{{ url_for('admin') }}">Назад</a></ul>
</div>
</body>
</html>