<!DOCTYPE html> 
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forlog.css') }}">

<body>
<div class="background"></div>
<div class="content">

<h1>Редактировать студента</h1>

<form method="POST" enctype="multipart/form-data">
    <div>
        <label for="id">Id:</label>
        <input type="text" id="id" name="id" value="{{ student.id }}" readonly>
    </div>
    <div>
        <label for="full_name">ФИО:</label>
        <input type="text" id="full_name" name="full_name" value="{{ student.full_name }}" required>
    </div>
    <div>
        <label for="course">Курс:</label>
        <input type="text" id="course" name="course" value="{{ student.course }}" required>
    </div>
    <div>
        <label for="group">Группа:</label>
        <input type="text" id="group" name="group" value="{{ student.group }}" required>
    </div>
    <div>
        <label for="description">Характеристика:</label>
        <input type="text" id="description" name="description" value="{{ student.description }}" required>
    </div>
    <button type="submit">Сохранить</button>
</form>

<ul><a href="{{ url_for('admin') }}">Назад</a></ul>
</div>
</body>

</html>