<!DOCTYPE html> 
<html lang="ru"> 
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">

    <title>Абитуриенту | Кафедра фундаментальной и прикладной математики ФаМИ ГрГУ</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/grsu-logo.png') }}" />
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/slider-pro.min.css') }}" /> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="background"></div>
<div class="content">

<div class="container">
	<div class="header">
		<div class="row">
			<div class="col-md-2">
			<div class="logo"  style="margin: 20px auto">
				<a href="{{url_for('home') }}"><img src="{{ url_for('static', filename='images/grsu-logo.png') }}"></a>
			</div>
			</div>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-7">
						<h3>
							Факультет математики и информатики<br><br>
							Кафедра фундаментальной и прикладной математики
						</h3>
					</div>
				<div class="col-md-4">
					<ul class="nav navbar-nav navbar-right">
						<!-- <li><a href="/login"><h5>Авторизация</h5></a></li> -->
					</ul>
				</div>
				</div>
			<div class="row">
				<div class="menu">
					<nav class="navbar" role="navigation"><!-- b -->
	<ul class="nav navbar-nav">
		<li><a href="/news">Новости</a></li>
		<li class="dropdown">
			<a href="#" data-toggle="dropdown" class="dropdown-toggle">О кафедре <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a href="/history">История</a></li>
				<li><a href="/teachers">Сотрудники</a></li>
				<li><a href="/branch">Филиал кафедры</a></li>
				<li><a href="/lab">Учебная лаборатория</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a href="#" data-toggle="dropdown" class="dropdown-toggle">Научная деятельность <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a href="/filesofsci">Направления научной деятельности</a></li>
				<li><a href="/aspiranture">Аспирантура</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a href="#" data-toggle="dropdown" class="dropdown-toggle">Учебная деятельность <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a href="/aboutspeciality">О специальности</a></li>
				<li><a href="/magistracy">Магистратура</a></li>
				<li><a href="/beststudents">Лучшие студенты</a></li>
				<li><a href="/schedule">Расписание</a></li>
			</ul>
		</li>
		<li><a href="/forenrollees">Абитуриенту</a></li>
	</ul> 
</nav> 
				</div>
			</div>
		</div>
	</div>
</div>


<div class="body" style="margin: 20px auto; max-width: 1000px">
				<div class="row">
					<h3 class="section-heading" style="text-align: center;">Проводит подготовку по специальности I ступени получения высшего образования:</h3>
<p class="lead" style="text-align: center;"><iframe src="//www.youtube.com/embed/nJTjvJUuOVE" width="850" height="477" allowfullscreen="allowfullscreen"></iframe></p>
<h3 class="section-heading" style="text-align: center;"><strong>Прикладная математика (научно-производственная деятельность)</strong></h3>
<table class="border">
<tbody>
<tr>
<td width="30%"><!-- class="justifyleft" -->
<p class="lead">&nbsp;Факультет</p>
</td>
<td width="70%">
<p class="lead">&nbsp;<a href="http://fm.grsu.by/" target="_blank" rel="noopener">Факультет математики и информатики</a></p>
</td>
</tr>
<tr>
<td valign="top" width="30%">
<p class="lead">&nbsp;Код специальности</p>
</td>
<td valign="top" width="70%">
<p class="lead">&nbsp;1-31 03 03-01</p>
</td>
</tr>
<tr>
<td valign="top" width="30%">
<p class="lead">&nbsp;Квалификация</p>
</td>
<td valign="top" width="70%">
<p class="lead">&nbsp;Математик-программист</p>
</td>
</tr>
<tr>
<td valign="top" width="30%">
<p class="lead">&nbsp;Специализация</p>
</td>
<td valign="top" width="70%">
<p class="lead">&nbsp;Математическое моделирование<br />&nbsp;Анализ данных и моделирование сложных систем</p>
</td>
</tr>
<tr>
<td valign="top" width="30%">
<p class="lead">&nbsp;Продолжительность обучения</p>
</td>
<td valign="top" width="70%">
<p class="lead">&nbsp;дневная &ndash; 4 года</p>
</td>
</tr>
<tr>
<td valign="top" width="30%">
<p class="lead">&nbsp;Вступительные испытания</p>
</td>
<td valign="top" width="70%">
<p class="lead">&nbsp;Белорусский или русский язык (ЦТ),&nbsp;<br />&nbsp;математика (ЦТ),<br />&nbsp;физика (ЦТ)</p>
</td>
</tr>
<tr>
<td valign="top" width="30%">
<p class="lead">&nbsp;Сфера профессиональной&nbsp; &nbsp;деятельности</p>
</td>
<td valign="top" width="70%">
<p class="lead">&nbsp;Выпускники специальности "Прикладная математика (научно-производственная деятельность)" востребованы в ИТ-компаниях, которые занимаются разработкой программных продуктов, а также на предприятиях и в организациях, которым необходимы эксплуатация и сопровождение программного обеспечения, компьютерных систем и сетей, баз данных и знаний, систем искуссвенного интеллекта, издательских и банковских систем</p>
</td>
</tr>
<tr>
<td valign="top" width="30%">
<p class="lead">&nbsp;Выпускники могут работать</p>
</td>
<td valign="top" width="70%">
<p class="lead">&nbsp;Инженер-исследователь<br />&nbsp;Инженер-программист</p>
</td>
</tr>
</tbody>
</table>
<p class="lead"><strong><br />Особенности обучения:</strong></p>
<ul>
<li class="lead">достаточное количество бюджетных мест</li>
<li class="lead">всем иногородним студентам 1-го курса предоставляется общежитие</li>
<li class="lead">возможность изучения некоторых дисциплин на английском языке</li>
<li class="lead">возможность военной подготовки</li>
<li class="lead">возможность прохождения курсов и стажировок в IT-компаниях</li>
</ul>
<p class="lead">Более подробную информацию&nbsp;для абитуриентов: условия поступления, проходные баллы, план приема по специальностям можно получить на сайте:&nbsp;<strong><a href="http://abit.grsu.by/">http://abit.grsu.by</a></strong>.</p>
<p>&nbsp;</p>
<h3 class="section-heading" style="text-align: center;"><strong>Студенты говорят о специальности...</strong></h3>
<p class="lead" align="justify">"Сначала приведу документально оформленные основные требования, предъявляемые математику-программисту и основные направления деятельности данного специалиста, а затем выскажу свою точку зрения.</p>
<p class="lead" align="justify">Математик-программист занимается исследовательской деятельностью в сфере математических наук. Разрабатывает математические модели реальных процессов. Занимается проектированием и сопровождением вычислительных сетей. Решает вопросы закупки, размещения, архитектуры сети, установки программного обеспечения, доступа пользователей. Обеспечивает бесперебойную работу сети, связь с внешним миром, информационную безопасность. Оптимизирует и распределяет сетевые ресурсы. Решает вопросы по соблюдению корпоративной этики относительно сетевых ресурсов.</p>
<p class="lead" align="justify">Математик-программист должен знать и уметь использовать алгоритмические, программные и технологические решения, изучаемые в рамках следующего набора дисциплин: многомерные статистические методы, исследование операций в экономике, фрактальная графика, теория вычислительных процессов и структур, функциональное программирование, параллельное программирование, технология разработки программного обеспечения.</p>
<p class="lead">Профессионально важные качества:</p>
<ul>
<li class="lead">логическое мышление;</li>
<li class="lead">технический интеллект;</li>
<li class="lead">хорошая память;</li>
<li class="lead">организаторские способности;</li>
<li class="lead">аккуратность;</li>
<li class="lead">умение ориентироваться в сложных ситуациях и быстро решать проблемы;</li>
<li class="lead">способность к постоянному самообучению.</li>
</ul>
<p class="lead" align="justify">Всё, написанное выше, совершенно верно и правильно. Именно этому меня учили и учат в университете. Но, что самое главное, человеку с квалификацией "Математик-программист. Преподаватель математики и информатики." предоставляют право выбора дальнейшего жизненного пути. Студентам дают крепкую основу теоретических знаний, демонстрируют возможности всех направлений данной квалификации. И уже со сформированным мировоззрением, имея в наличии необходимые знания, пройдя педагогическую и производственную практики, возможность осознанно сделать шаг навстречу преподавательской, научной, программистской деятельности будет весьма полезной."</p>
<p class="lead" align="right"><em>Дарья Сергеевна Шпак, специальность "Прикладная математика", <br />выпускница 2010 года</em></p>
<p>&nbsp;</p>
				</div>
			</div>

<style>
    div.footer {
      border-top: solid 3px #ccc;
    }
</style>

<div class="footer">
				<div class="row">
					<div class="col-md-8">
						<p>
							© 2024 <br />
							УО "Гродненский Государственный Университет им. Я. Купалы"<br />
							Факультет математики и информатики <br />
							Кафедра фундаментальной и прикладной математики <br />
						</p>
											</div>

					<div class="col-md-4 text-right">
						<p>
							Республика Беларусь
							<br />г. Гродно, 230023<br />
							ул. Ожешко, 22, к. 314<br />
							 +375 (152) 39-53-14 <br />
							 <a href="">kaf_teorfun@grsu.by</a> <br />	
						</p>
					</div>
				</div>
			</div>

		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.sliderPro.min.js') }}"></script>
		<script type="text/javascript">
			jQuery( document ).ready(function( $ ) {
				$( '#sliderPro' ).sliderPro({
					width: 1000,
					height: 450,
					arrows: true,
					buttons: false,
					waitForLayers: true,
					fade: true,
					touchSwipe: false
				});
			});
		</script>
</div>

</body>
</html>