<!DOCTYPE html> 
<html lang="ru"> 
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">

    <title>История | Кафедра фундаментальной и прикладной математики ФаМИ ГрГУ</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/grsu-logo.png') }}" />
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/slider-pro.min.css') }}" /> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="background"></div>
<div class="content">

<div class="container">
	<div class="header">
		<div class="row">
			<div class="col-md-2">
			<div class="logo"  style="margin: 20px auto">
				<a href="{{url_for('home') }}"><img src="{{ url_for('static', filename='images/grsu-logo.png') }}"></a>
			</div>
			</div>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-7">
						<h3>
							Факультет математики и информатики<br><br>
							Кафедра фундаментальной и прикладной математики
						</h3>
					</div>
				<div class="col-md-4">
					<ul class="nav navbar-nav navbar-right">
						<!-- <li><a href="/login"><h5>Авторизация</h5></a></li> -->
					</ul>
				</div>
				</div>
			<div class="row">
				<div class="menu">
					<nav class="navbar" role="navigation"><!-- b -->
	<ul class="nav navbar-nav">
		<li><a href="/news">Новости</a></li>
		<li class="dropdown">
			<a href="#" data-toggle="dropdown" class="dropdown-toggle">О кафедре <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a href="/history">История</a></li>
				<li><a href="/teachers">Сотрудники</a></li>
				<li><a href="/branch">Филиал кафедры</a></li>
				<li><a href="/lab">Учебная лаборатория</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a href="#" data-toggle="dropdown" class="dropdown-toggle">Научная деятельность <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a href="/filesofsci">Направления научной деятельности</a></li>
				<li><a href="/aspiranture">Аспирантура</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a href="#" data-toggle="dropdown" class="dropdown-toggle">Учебная деятельность <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a href="/aboutspeciality">О специальности</a></li>
				<li><a href="/magistracy">Магистратура</a></li>
				<li><a href="/beststudents">Лучшие студенты</a></li>
				<li><a href="/schedule">Расписание</a></li>
			</ul>
		</li>
		<li><a href="/forenrollees">Абитуриенту</a></li>
	</ul> 
</nav> 
				</div>
			</div>
		</div>
	</div>
</div>

			<div class="body" style="margin: 20px auto; max-width: 1000px">
				<div class="row">
					<h2 class="section-heading" style="text-align: center;"><strong>История</strong></h2>
<p class="lead">Кафедра фундаментальной и прикладной математики (ФиПМ) создана на базе кафедр теории функций, функционального анализа и прикладной математики(ТФФАиПМ) и Высшей математики (ВМ) в 2015 году. В июне 2018 года к ней была присоединена кафедра стохастического анализа и эконометрического моделирования (САЭМ).&nbsp;</p>
<p class="lead">Состав кафедры в настоящее время можно увидеть <a href="/teachers">здесь</a>.</p>

<!-- <p>&nbsp;</p> -->
<p class="lead"><strong>Кафедра ТФФАиПМ</strong></p>
<p class="lead">Кафедра теории функций и функционального анализа, открыта в 1993 году. В составе кафедры: профессор, доктор физико-математических наук А. А. Пекарский, доценты, кандидаты физико-математических наук Е. А. Ровба, И. Н. Бруй, Ю. М. Вувуникян, Т. Э. Можджер, В. К. Пчельник, Е. А. Сетько, ассистент С. В. Совца.</p>
<p class="lead">В 2000 году кафедра была преобразована в кафедру теории функций, функционального анализа и прикладной математики. Кафедра пополнилась доктором физико-математических наук, профессором М. А. Маталыцким, доктором технических наук, профессором П. В. Севастьяновым и доцентами, кандидатами физико-математических наук Н. Н. Ивановым, Г. Ч. Шушкевичем и О. Б. Цехан, а также аспирантами К. А. Смотрицким, И. И. Игнатенко и А. М. Астаховым (ныне кандидатами физ-мат. наук), преподавателями А. А. Бороховской, Н. В. Марковской, магистрантами Т. В. Романюк, Н. В. Семенчук, С. И. Коллектив кафедры покинул&nbsp; А. А. Пекарский, переехавший в г.Минск и приступивший к работе в Белорусском технологическом университете.</p>
<p class="lead">Кафедра обеспечивала преподавание следующих основных дисциплин: теория функций комплексного переменного, функциональный анализ и интегральные уравнения - на математическом факультете, высшая математика - на факультете биологии и экологии и на факультете экономики и управления. После реорганизации кафедры в число ее дисциплин вошли: прикладная математика, дискретная математика, теория вероятностей и случайные процессы, математическая статистика, экономико-математические методы управления производством и другие, предлагавшиеся студентам специальностей прикладная математика и экономическая кибернетика математического факультета.</p>
<p class="lead">С момента открытия кафедра проводила подготовку специалистов по двум специализациям Теория функций и Математическое моделирование. В 2000 в учебный план вошла специализация Актуарная математика и статистика, а с 2003 года специализация Экономико-математические методы.</p>
<p class="lead">C 2003 года кафедра была переименована в кафедру теории функций, функционального анализа, теории вероятностей и прикладной математики.</p>
<p class="lead"><strong>&nbsp;</strong></p>
<p class="lead"><strong>Кафедра ВМ</strong></p>
<p class="lead">Кафедра дифференциальных уравнений Гродненского университета была образована в августе 1979 года. Первоначально в состав кафедры входили: заведующий кафедрой, доцент, кандидат физико-математических наук С. А. Минюк, доцент, кандидат физико-математических наук М. М. Русин, старшие преподаватели, кандидаты физико-математических наук В. К. Бойко и А. П. Крачковский, старшие преподаватели В. И. Булгаков, Т. Э. Можджер, З. М. Наркун, лаборант Е. К. Иодковская. В июне 1999 года кафедра была переименована в кафедру дифференциальных уравнений и оптимального управления. Со дня основания и до марта 2008 года кафедрой руководил профессор, доктор физико-математических наук Степан Андреевич Минюк (25.02.1948 &minus; 02.03.08) &ndash; талантливый ученый, активный общественный деятель. Степан Андреевич внес существенный вклад в научную и учебно-методическую работу факультета и всего университета в целом.</p>
<p class="lead">Кроме перечисленных выше преподавателей на кафедре в разные годы работали: Сенько Василий Васильевич, кандидат физико-математических наук, доцент; Дайняк Виктор Владимирович, кандидат физико-математических наук, доцент; Шушкевич Геннадий Чеславович, доктор физико-математических наук, доцент; Немец Владимир Стефанович, кандидат физико-математических наук, доцент; Панасик Ольга Анатольевна, старший преподаватель; Бойко Валерий Константинович, кандидат физико-математических наук, доцент; Берёзкина Наталия Серафимовна, кандидат физико-математических наук, доцент; Алыцкая Светлана Николаевна, старший преподаватель; Гончарова Марина Николаевна, кандидат физико-математических наук, доцент; Наумович Елена Анатольевна, кандидат физико-математических наук, доцент; Бабарико Николай Николаевич, старший преподаватель; Кулеш Елена Евгеньевна, кандидат физико-математических наук, доцент; &nbsp;Кузьмич Андрей Викторович, преподаватель; Шевченя Дмитрий Николаевич, преподаватель.</p>
<p class="lead"><strong>&nbsp;</strong></p>
<p class="lead"><strong>Кафедра САЭМ</strong></p>
<p class="lead">Кафедра ведет свою историю с образованной 2007 году кафедры стохастического анализа и эконометрии, которая в 2009 году, согласно приказу ректора&nbsp; переименована в кафедру стохастического анализа и эконометрического моделирования.&nbsp;</p>
<p class="lead">В составе кафедры: Маталыцкий Михаил Алексеевич, заведующий кафедрой,доктор физико-математических наук, профессор; Астахов А. М., Колузаева Е. В., Паньков А. В., Русилко Т. В., Семенчук Н. В., доценты, кандидаты физико-математических наук:; старший преподаватель Статкевич С. Э., преподаватель: Еремина А. Р., Колузаева Е. В. лаборант Будняк Н. А.&nbsp;<br />&nbsp;</p>
<p class="lead">Кафедра обеспечивала преподавание дисциплин математического, экономико-математического и финансового профиля.&nbsp;На кафедре велась подготовка &nbsp;в аспирантуре и магистратуре по специальностям "Математическое моделирование, численные методы и комплексы программ", "Математические инструментальные методы экономики", "Системный анализ, управление и обработка информации".&nbsp;</p>
<p class="lead">В июне 2018 года большая часть кафедры (Доктор физ.-мат. наук, профессор Маталыцкий Михаил Алексеевич, кандидаты физ.-мат. наук, доценты Русилко Татьяна Владимировна, Семенчук Наталья Владимировна,&nbsp; Науменко Виктор Викторович,&nbsp; Паньков Андрей Витальевич) вошла в состав кафедры&nbsp; фундаментальной и прикладной математики.</p>
				</div>
			</div>
<style>
    div.footer {
      border-top: solid 3px #ccc;
    }
</style>

<div class="footer">
				<div class="row">
					<div class="col-md-8">
						<p>
							© 2024 <br />
							УО "Гродненский Государственный Университет им. Я. Купалы"<br />
							Факультет математики и информатики <br />
							Кафедра фундаментальной и прикладной математики <br />
						</p>
											</div>

					<div class="col-md-4 text-right">
						<p>
							Республика Беларусь
							<br />г. Гродно, 230023<br />
							ул. Ожешко, 22, к. 314<br />
							 +375 (152) 39-53-14 <br />
							 <a href="">kaf_teorfun@grsu.by</a> <br />	
						</p>
					</div>
				</div>
			</div>

		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.sliderPro.min.js') }}"></script>
		<script type="text/javascript">
			jQuery( document ).ready(function( $ ) {
				$( '#sliderPro' ).sliderPro({
					width: 1000,
					height: 450,
					arrows: true,
					buttons: false,
					waitForLayers: true,
					fade: true,
					touchSwipe: false
				});
			});
		</script>
</div>

</body>
</html>