<!DOCTYPE html> 
<html lang="ru"> 
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">

    <title>Учебная лаборатория | Кафедра фундаментальной и прикладной математики ФаМИ ГрГУ</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/grsu-logo.png') }}" />
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/slider-pro.min.css') }}" /> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="background"></div>
<div class="content">

<div class="container">
	<div class="header">
		<div class="row">
			<div class="col-md-2">
			<div class="logo"  style="margin: 20px auto">
				<a href="{{url_for('home') }}"><img src="{{ url_for('static', filename='images/grsu-logo.png') }}"></a>
			</div>
			</div>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-7">
						<h3>
							Факультет математики и информатики<br><br>
							Кафедра фундаментальной и прикладной математики
						</h3>
					</div>
				<div class="col-md-4">
					<ul class="nav navbar-nav navbar-right">
						<!-- <li><a href="/login"><h5>Авторизация</h5></a></li> -->
					</ul>
				</div>
				</div>
			<div class="row">
				<div class="menu">
					<nav class="navbar" role="navigation"><!-- b -->
	<ul class="nav navbar-nav">
		<li><a href="/news">Новости</a></li>
		<li class="dropdown">
			<a href="#" data-toggle="dropdown" class="dropdown-toggle">О кафедре <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a href="/history">История</a></li>
				<li><a href="/teachers">Сотрудники</a></li>
				<li><a href="/branch">Филиал кафедры</a></li>
				<li><a href="/lab">Учебная лаборатория</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a href="#" data-toggle="dropdown" class="dropdown-toggle">Научная деятельность <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a href="/filesofsci">Направления научной деятельности</a></li>
				<li><a href="/aspiranture">Аспирантура</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a href="#" data-toggle="dropdown" class="dropdown-toggle">Учебная деятельность <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a href="/aboutspeciality">О специальности</a></li>
				<li><a href="/magistracy">Магистратура</a></li>
				<li><a href="/beststudents">Лучшие студенты</a></li>
				<li><a href="/schedule">Расписание</a></li>
			</ul>
		</li>
		<li><a href="/forenrollees">Абитуриенту</a></li>
	</ul> 
</nav> 
				</div>
			</div>
		</div>
	</div>
</div>

    			<div class="body" style="margin: 20px auto; max-width: 1000px">
				<div class="row">
					<h2 class="section-heading" style="text-align: center;">Общие сведения о лаборатории</h2>
<table class="border">
<tbody>
<tr>
<td width="50%"><!-- class="justifyleft" -->
<p class="lead">&nbsp;Адрес:</p>
</td>
<td width="50%">
<p class="lead">&nbsp;ул. Ожешко 22, учебный корпус №1</p>
</td>
</tr>
<tr>
<td valign="top" width="50%">
<p class="lead">&nbsp;Номера аудиторий:</p>
</td>
<td valign="top" width="50%">
<p class="lead">&nbsp;компьютерный класс № 315</p>
</td>
</tr>
<tr>
<td valign="top" width="50%">
<p class="lead">&nbsp;Общая площадь в кв. м.:</p>
</td>
<td valign="top" width="50%">
<p class="lead">&nbsp;65,8</p>
</td>
</tr>
<tr>
<td valign="top" width="50%">
<p class="lead">&nbsp;Количество рабочих мест:</p>
</td>
<td valign="top" width="50%">
<p class="lead">&nbsp;40</p>
</td>
</tr>
</tbody>
</table>
<p class="lead">Ответственные за организацию работы в лаборатории</p>
<dl class="dl-horizontal">
<dd class="lead">Преподаватели:</dd>
</dl>
<dl class="dl-horizontal">
<dd class="lead">Дирвук Евгений Владимирович, тел. 72-13-92<br />Вувуникян Юрий Микертычевич, тел.74-06-74<br />Лысюк Елена Сергеевна, тел. 74-29-57<br />Шпак Дарья Сергеевна, тел. 7406-74<br />Сазонова Анна Тадеушевна, тел. 72-13-92<br />Карканица Анна Викторовна, тел. 74-29-57</dd>
</dl>
				</div>
			</div>

<style>
    div.footer {
      border-top: solid 3px #ccc;
    }
</style>

<div class="footer">
				<div class="row">
					<div class="col-md-8">
						<p>
							© 2024 <br />
							УО "Гродненский Государственный Университет им. Я. Купалы"<br />
							Факультет математики и информатики <br />
							Кафедра фундаментальной и прикладной математики <br />
						</p>
											</div>

					<div class="col-md-4 text-right">
						<p>
							Республика Беларусь
							<br />г. Гродно, 230023<br />
							ул. Ожешко, 22, к. 314<br />
							 +375 (152) 39-53-14 <br />
							 <a href="">kaf_teorfun@grsu.by</a> <br />	
						</p>
					</div>
				</div>
			</div>

		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.sliderPro.min.js') }}"></script>
		<script type="text/javascript">
			jQuery( document ).ready(function( $ ) {
				$( '#sliderPro' ).sliderPro({
					width: 1000,
					height: 450,
					arrows: true,
					buttons: false,
					waitForLayers: true,
					fade: true,
					touchSwipe: false
				});
			});
		</script>
</div>

</body>
</html>