<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Авторизация</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forlog.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="background"></div>
<div class="content">
<header>
    <h1>Авторизация</h1>
</header>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form method="POST" action="{{ url_for('login') }}">
	<p>
        <label for="username">Введите логин:</label>
        <input type="text" id="username" name="username"><br>
	</p>
	<p>
        <label for="password">Выведите пароль:</label>
        <input type="password" id="password" name="password"><br>
	</p>
	<p>
        <input type="submit" value="Далее">
	</p>
    </form>
    <ul><a href="{{ url_for('home') }}">Назад</a></ul>
</div>
</body>
</html>